
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
/* 
html{
    height: 100%;
} */

:root{
    --amber900: #78350f;
    --amber700: #b45309;
    --amber50: #fffae6;
    --amber100: #fef3c7;
    --amber200: #fde68a;
    --amber300: #fcd34d;
    --amber500: #f59e0b;
    --amber600: #d97706;
    --amberBlack: #272626;
    --amberDark: #81807eea;
    --myFont: 'Noto Sans', sans-serif;
    --projectColumnSize: 150px;
    --projectRowSize: 140px;
}



#main-container{
    display: grid;
    grid-template-columns: 210px repeat(3,  minmax(200px, 1fr));
    grid-template-rows: 120px repeat(3, 1fr);
    min-height: 100vh;
}

#main-container > aside{
    display: grid;
    grid-template-columns: 1fr;  
   grid-column: 1 / 2;
   grid-row: 1 / 5;
   background-color: var(--amber900); 
}

#main-container  aside > aside{
   height: 80%;
   background-color: var(--amber900); 
   z-index: 15; 
   padding: 20px;
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 80px repeat(6, 1fr) 50px repeat(6, 1fr);
   gap: 1px 10px;
   font-family: var(--myFont);
}

#main-container > header{
    grid-column: 2 / span 3;
    grid-row: 1 / 2;   
    display: grid;
    grid-template-columns: repeat(9, 1fr) minmax(60px, 140px) 1fr 2.5fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    font-family: var(--myFont);
    background-color: var(--amber50); 
    box-shadow: 0px 4px 11px 0px #C1BBBE;
    z-index: 10;
}

#main-container > div{
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    display: grid;   
    grid-template-columns: 3.4fr 1fr;  
    background-color: var(--amber100); 
    font-family: var(--myFont);
}

svg:first-child{
    width: 35px;
    height: 35px;
}


.sidebar-icons-center{
    justify-self: center ;
    margin-right: 10px;  
    color: var(--amber100);
    fill: var(--amber50); 
    width: 20px;
    height: 20px;   
}

aside > p[name='dashboard']{
    font-size: 1.2rem;  
}

aside > p{
    font-size: 0.9rem;
    color: var(--amber50);
}

aside > p:hover, aside > svg:hover{
    color: var(--amber500);
    fill: var(--amber500);
}

aside .settings,aside .settings + p{
    align-self: end;
}


/* Header section  */

header > div[name="search-icon"]{
    border: 1.2px solid var(--amberDark);
    display: grid;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    height: 60%;
    width: 70%;
    border-radius: 3px;
    /* background-color: var(--amber700);    */
}

header div[name^="search"] > svg{   
   
    fill: var(--amberBlack); 
    width: 23px;
    height: 23px;
    
}

div[name="search-icon"] + input{
    justify-self: center;
    align-self: center;
    height: 60%;
    width: 100%;
    grid-column: 2 / 10;
    border: 1.4px solid var(--amberDark);
    border-radius: 3px;
    background-color: var(--amber100);
}

div[name="search-icon"] + input:focus{
    border: 1px solid var(--amber600);
    outline: 1px solid var(--amber600);
}

input[type="search"] + svg[name="bell-ring"]{
    fill: var(--amber500);
   align-self: center;
   justify-self: end;
}

svg[name="bell-ring"] ~ div[class="avatar"]{
    /* border: 1px solid var(--amberBlack); */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: var(--myFont);
    background-color: var(--amber500);
    color: var(--amberBlack);
}

svg[name="bell-ring"] ~ h5{
    color: var(--amberBlack);
}

h5 + div[class="avatar"]{
    width: 40px !important;
    height: 40px !important;
}

div[class="avatar"] + div{
    grid-column: 2 / 10;
}

div[class="avatar"] + div > div{
    font-size: 0.7rem;
}

div[class="avatar"] + div + div{
    grid-column: 10 / 13 ;  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 0px 30px 0px 60px;  
}

div[class="avatar"] ~ div > button[class$="btn"]{
    height: 22px;
    width: 60px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--amber900);
    color: var(--amber50);
    justify-self: center;
  
}


/* Main content div */

div.first-side{
    grid-column: 1 / 2;     
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px repeat(3, minmax(100px, var(--projectRowSize)));
    grid-auto-rows: minmax(100px, var(--projectRowSize));
    column-gap: 20px;  
    row-gap: 20px;  
    padding: 20px ;
    padding-top: 0px;
}

div.second-side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px auto 20px;
    grid-auto-rows: auto;
    background-color: var(--amber100);
    row-gap: 10px;  
    padding: 10px;
    padding-left: 0px;
    
    /* border: 2px solid red; */
}

div.first-side > h5{
    grid-column: 1 / 3;
   margin-top: 1rem;
}

div.first-side .projects,div.second-side .projects{   
    background-color: var(--amber50);
    box-shadow: 1px 1px 11px 0px #C1BBBE;
    position: relative;
    border-radius: 5px;
}

div.first-side .projects:before{
    content: '';
    background-color: var(--amber500);
    width: 7px;
    height: 100%;
    z-index: 100;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.first-side .projects{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 1rem;
    justify-content: center;
}


.first-side .projects > div{
    grid-column: 1 / 4;
    font-size: 0.7rem;
    color: var(--amberBlack);  
}

.projects svg{
    fill: var(--amberBlack);
    width: 20px;
    height: 20px;
}

.projects div ~ svg{
    justify-self: end; 
    align-self: center; 
}

.second-side > h5{
    margin-top: .4rem;
}

.second-side .announcement,.second-side .trending{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill, 1fr);
    grid-auto-rows: 1fr;
    font-size: 0.6rem;
    color: var(--amberBlack);
    padding: 5px;
    padding-left: 15px;
}